<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org"
 th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<section>
		<div class="card mr-5 ml-5 mt-5">
			<div class="card-body">
			<div th:if="${session.message}" class="container">
			<div  th:classappend="${'alert-'+session.message.type}" class="alert alert-primary  ml-5 mt-5 text-center" role="alert">
                <span th:text="${session.message.content}"></span>
                </div>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
             <!--   <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>-->
                  </div>
		
				<h1 class="text-center"> Add contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-md-2">
							<form							method="post"
							th:action="@{/user/process-contact}" class="mt-2">
							
						<!--	first name-->
							
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text mr-1">
										<i class="fa fa-plus"></i>
									</div>
								</div>
								<input required type="text" id="firstname" name="name"  placeholder="Enter your first name" 
								class="form-control"/>
								
							</div>
							
						<!--	second name-->
						
						
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text mr-1">
										<i class="fas fa-user-alt"></i>
									</div>
								</div>
								<input required type="text" id="secondname" name="secondname"  placeholder="Enter your second name" 
								class="form-control"/>
							</div>
							
							<!--  desigination-->
							
							
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text mr-1">
									<!--	<i class="fas fa-user-alt"></i>-->
										<i class="fa fa-briefcase"></i>
									</div>
								</div>
								<input required type="text" id="work" name="work"  placeholder="Enter your designation" 
								class="form-control"/>
							</div>
							
							     <!-- phone -->
							     
							     
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text mr-1">
										<i class="fa fa-phone"></i>
										
									</div>
								</div>
								<input required type="number" id="phone" name="phone"  placeholder="Enter your Mobile number" 
								class="form-control"/>
							</div>
							   
							           <!--    email-->
							           
							                
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text mr-1">
										@
										
									</div>
								</div>
								<input required type="email" id="email" name="email"  placeholder="Enter your email" 
								class="form-control"/>
							</div>
							
							       <!--   submit-->
							       
							       <div class="input-group mt-3">
									  <div class="input-group-prepend">
										<div class="text-submit">
									  </div>
								   </div>
								   
								<!--    image upload-->
								<div class="custom-file">
									<input type="file" name="image"/>
								</div>
								
								<div class="container text-center">
								<button type="submit" class="btn btn-success">submit</button>
                                 </div>
  
                              </form>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

</body>
</html>